* {
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Chakra Petch', sans-serif;
    list-style: none;
}

body {
    background-color: #FA8BFF;
    background-image: linear-gradient(to top, #000000 10%, #000000d3 37%, #fbcd00 49%, #600d00 60%, #000000 90%);
}

.home-background {
    width: 100%;
    height: auto;
    background-repeat: no-repeat;
}

/******************************************* NAVBAR-CSS-START ***********************************************/
.nav {
    width: 100%;
    height: auto;
}

nav {
    background: linear-gradient(0deg, rgba(0, 255, 255, 1) 0%, rgba(0, 0, 0, 0.834) 15%);
    width: 100%;
    background-color: black;
    animation: NavBottom 3s infinite;
}

@keyframes NavBottom {
    0% {
        box-shadow: rgba(0, 255, 255, 0.3) 0px 5px, rgba(0, 255, 255, 0.2) 0px 10px, rgba(0, 255, 255, 0.1) 0px 15px, rgba(0, 255, 255, 0.07) 0px 20px, rgba(0, 255, 255, 0.05) 0px 25px;
    }

    50% {
        box-shadow: rgba(0, 255, 255, 0.5) 0px 5px, rgba(0, 255, 255, 0.4) 0px 10px, rgba(0, 255, 255, 0.3) 0px 15px, rgba(0, 255, 255, 0.2) 0px 20px, rgba(0, 255, 255, 0.1) 0px 25px;
    }

    100% {
        box-shadow: rgba(0, 255, 255, 0.3) 0px 5px, rgba(0, 255, 255, 0.2) 0px 10px, rgba(0, 255, 255, 0.1) 0px 15px, rgba(0, 255, 255, 0.07) 0px 20px, rgba(0, 255, 255, 0.05) 0px 25px;
    }
}

.navbar-brand{
    color: aqua!important;
    text-shadow: 2px 2px 2px aqua;
    font-size: 40px!important;
}

.navbar-brand:hover {
    animation: NavClick 2s infinite;
}

@keyframes NavClick {
    0% {
        text-shadow: 2px 2px 2px aqua;
    }

    50% {
        text-shadow: 2px 2px 10px aqua;
    }

    100% {
        text-shadow: 2px 2px 2px aqua;
    }
}

.dropdown button {
    font-size: 23px;
    color: #00ffff;
    text-shadow: 1px 1px 1px aqua;
}

.dropdown button:hover {
    color: #00ffff;
    animation: NavClick 2s infinite;

}

.dropdown ul li a {
    color: #00ffff !important;
}

.dropdown ul li a:hover {
    color: black !important;
    background-color: #00ffff !important;
}

.dropdown-menu {
    background-color: black !important;
    border: 2px solid #00ffff !important;
}

.btn-check:checked+.btn,
.btn.active,
.btn.show,
.btn:first-child:active,
:not(.btn-check)+.btn:active {
    color: #00ffff !important;
}

dl,
ol,
ul {
    margin-top: 0;
    margin-bottom: 0rem !important;
}

nav li a {
    text-decoration: none;
    font-size: 20px!important;
    text-shadow: 1px 1px 1px rgb(0, 255, 255);
}

li a:hover {
    color: #00ffff !important;
    animation: NavClick 2s infinite;
}

/******************************************* NAVBAR-CSS-END ***********************************************/

/******************************************* HOME-CSS-START ************************************************/
.home-content {
    width: 100%;
    height: auto;
}

.carousel {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.home-pc {
    width: 100%;
    height: 100%;
}

.home-ps5 {
    width: 100%;
    height: 100%;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}

.home-ps5 img {
    background-position: bottom;
}

.home-xbox {
    width: 100%;
    height: 100%;
}

.home-pc-text {
    width: 100%;
    background-color: rgba(161, 0, 0, 0.666);
    border-radius: 40px;
    color: rgb(0, 0, 0);
    font-size: 20px;
    padding: 2rem;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.home-pc-text button {
    width: 100%;
    font-size: 25px;
    background-color: rgb(32, 0, 0);
    color: white;
}

.home-pc-text button:hover {
    background-color: rgb(0, 0, 0);
    color: rgb(150, 2, 2);
}

.home-ps5-text {
    width: 100%;
    background-color: rgba(255, 247, 0, 0.759);
    border-radius: 40px;
    padding: 2rem;
    color: rgb(0, 0, 0);
    font-size: 20px;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.home-ps5-text button {
    width: 100%;
    font-size: 25px;
    background-color: rgb(51, 45, 0);
    color: white;
}

.home-ps5-text button:hover {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 225, 0);
}

.home-xbox-text {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.88);
    border-radius: 40px;
    padding: 2rem;
    color: rgb(0, 0, 0);
    font-size: 20px;
    box-shadow: rgba(255, 255, 255, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.home-xbox-text button {
    width: 100%;
    font-size: 25px;
    background-color: rgb(46, 46, 46);
    color: white;
}

.home-xbox-text button:hover {
    background-color: rgb(0, 0, 0);
    color: white;
}

.faq {
    font-size: 70px;
    color: #00ffff;
}

.accordion {
    width: 50%;
}

.accordion-item {
    background-color: #00ffff !important;
    border: 2px solid #00ffff !important;
    color: black !important;
    font-size: 20px !important;
}

.accordion-button {
    background-color: black !important;
    color: #00ffff !important;
    font-size: 25px !important;
}

/******************************************* HOME-CSS-END ************************************************/

/******************************************* FOOTER-CSS-START ***********************************************/
footer {
    position: static;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 30rem;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.834) 96%, rgba(0, 255, 255, 1) 100%);
    animation: FooterAni 3s infinite;
}

@keyframes FooterAni {
    0% {
        box-shadow: rgba(0, 255, 255, 0.25) 0px 30px 60px -12px inset, rgba(0, 255, 255, 0.3) 0px 18px 36px -18px inset;
    }

    50% {
        box-shadow: rgba(0, 255, 255, 1) 0px 30px 60px -12px inset, rgba(0, 255, 255, 0.5) 0px 18px 36px -18px inset;
    }

    100% {
        box-shadow: rgba(0, 255, 255, 0.25) 0px 30px 60px -12px inset, rgba(0, 255, 255, 0.3) 0px 18px 36px -18px inset;
    }
}

footer li a {
    text-decoration: none;
    font-size: 30px;
    color: #00ffff;
    text-shadow: 1px 1px 1px aqua;
}

footer li a:hover {
    animation: NavClick 2s infinite;
}

footer h2 {
    color: #00ffff;
}

.footer-down h6 {
    color: #00ffff;
}

/******************************************* FOOTER-CSS-END ***********************************************/